<h1>Dice!<h1>

<%
dice2= rand(1...6)
dice1= rand(1...6)
total= dice1+dice2
%>

<p>
<%=dice1 %>
<%=dice2 %>
</p>
<p>The total is <%=total%></p>

 <p>
 <img src="images/dice/<%=dice1 %>.svg" alt="random die">
  <img src="images/dice/<%=dice2 %>.svg" alt="random die">
 <a href="/dice">Roll again</a>
 </p>


